{{ 'header.css' | asset_url | stylesheet_tag }}
<header class="header shadow">
  <div class="logo">
    {%- if template.name == 'index' -%}
      <h1 itemscope itemtype="http://schema.org/Organization">
      {%- else -%}
        <div itemscope itemtype="http://schema.org/Organization">
        {%- endif -%}

        <a href="/" itemprop="url">
          <img src="{{ "Mr-logo.png" | asset_url }}"alt="{{ shop.name }}"itemprop="logo">
        </a>

        {%- if template.name == 'index' -%}
        </h1>
    {%- else -%}
      </div>
    {%- endif -%}
  </div>
  <nav class="desktop">
    <ul class="nav-bar">
      {% for link in linklists.main-menu.links %}
        <li class="nav-bar-items">
          <a href="{{ link.url }}">{{ link.title }}</a>

          {% if link.links.size > 0 %}
            <ul class="menu dropdown-child">
              {% for child_link in link.links %}
                <li class="menu-link">
                  <a href="{{ child_link.url }}" class="nav-bar-items-links">{{ child_link.title }}</a>

                  {% if child_link.links.size > 0 %}
                    <ul class="menu dropdown-grandchild">
                      {% for grandchild_link in child_link.links %}
                        <li class="menu-link">
                          <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="header-icons">
    {% include 'header-icons' %}
  </div>
</header>